.home{
    height: 45vh;
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    padding-bottom: 0.8em;
    background: #bfced3;
    .products{
        text-align: center;
        cursor: pointer;

        h2{
            font-family: 'Gamja Flower', cursive;
            font-size: 20px;
            font-weight: bold;
        }
        li{
            font-size: 15px;

        }
        .btn {
            border-radius: 10px;
            border: 1px solid black;
            box-sizing: border-box;
            cursor: not-allowed;
        }
    }
    }


.search {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    border-bottom: 1px solid #000040;
    background: #14151a;
    input{
        padding: 5px;
        border-radius: 10px;
        outline: none;
        margin-bottom: 1em;
    }
}