footer{
    background: #14151a;
    color: white;
    font-family: 'Gamja Flower', cursive;
    text-align: center;
    padding: 5px;
    height: 6.3vh;
    h3,p {
        font-family: 'Gamja Flower', cursive;
    }
}